.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.table-header th,
.table-actions th {
    writing-mode: horizontal-tb;
    padding: 10px; 
    vertical-align: middle; 
  }